.DS_Store
node_modules
dist
tmp
public
public/404.html
public/blog/benjamin-franklins-thoughts-about-new-designers/index.html
public/blog/designer-conference-at-florida-2020/index.html
public/blog/designers-thoughts-about-mobile-ui/index.html
public/blog/how-to-become-acreative-designer/index.html
public/blog/index.html
public/blog/markdown-formatting-demo/index.html
public/blog/new-designers-limitations/index.html
public/blog/page/2/index.html
public/blog/things-you-must-know-as-a-designer/index.html
public/blog/world-most-famous-app-developers-and-designers/index.html
public/blog/you-must-know-this-before-becoming-a-designer/index.html
public/categories/development/index.html
public/categories/documentation/index.html
public/categories/index.html
public/categories/travel/index.html
public/index-2/index.html
public/index-3/index.html
public/index-slider/index.html
public/index-video/index.html
public/index.html
public/portfolio/amore-mio-three-cups/index.html
public/portfolio/canvas-tote-bag-mockup/index.html
public/portfolio/cardboard-box/index.html
public/portfolio/coffee-cup-in-hand/index.html
public/portfolio/index.html
public/portfolio/love-care-ceramic-bottles/index.html
public/portfolio/marta-veludo-beautiful-poster/index.html
public/portfolio/minimal-poster-frame/index.html
public/portfolio/shopping-gift-bag/index.html
public/tags/fun/index.html
public/tags/index.html
public/tags/mobile/index.html
public/tags/website/index.html
public/test/index.html
